userClient/Connected Services/CRUDservice/CRUD.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="register">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="gender" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="age" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="gmail" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="weight" type="s:float" />
            <s:element minOccurs="1" maxOccurs="1" name="blood_pressure" type="s:float" />
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="height" type="s:float" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="registerResponse">
        <s:complexType />
      </s:element>
      <s:element name="login">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="loginResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="loginResult" type="s:boolean" />
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="update_info">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="age" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="weight" type="s:float" />
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="height" type="s:float" />
            <s:element minOccurs="0" maxOccurs="1" name="gmail" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="update_infoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="update_infoResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="view_info">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="gender" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="age" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="weight" type="s:double" />
            <s:element minOccurs="1" maxOccurs="1" name="blood_pressure" type="s:double" />
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="height" type="s:double" />
            <s:element minOccurs="0" maxOccurs="1" name="gmail" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="view_infoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="gender" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="age" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="weight" type="s:double" />
            <s:element minOccurs="1" maxOccurs="1" name="blood_pressure" type="s:double" />
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="height" type="s:double" />
            <s:element minOccurs="0" maxOccurs="1" name="gmail" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="saveReading">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="blood_pressure" type="s:float" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="saveReadingResponse">
        <s:complexType />
      </s:element>
      <s:element name="bpReminder">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="bpReminderResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="bpReminderResult" type="s:dateTime" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="graphPlotting">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="graphPlottingResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="graphPlottingResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getLatestBP">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getLatestBPResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="getLatestBPResult" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getDietPlan">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="range" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="breakfast" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="lunch" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="dinner" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="notes" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getDietPlanResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="breakfast" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="lunch" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="dinner" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="notes" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getGmail">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getGmailResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getGmailResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="sendDietPlan">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="userGmail" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="mailBody" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="sendDietPlanResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="sendDietPlanResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="registerSoapIn">
    <wsdl:part name="parameters" element="tns:register" />
  </wsdl:message>
  <wsdl:message name="registerSoapOut">
    <wsdl:part name="parameters" element="tns:registerResponse" />
  </wsdl:message>
  <wsdl:message name="loginSoapIn">
    <wsdl:part name="parameters" element="tns:login" />
  </wsdl:message>
  <wsdl:message name="loginSoapOut">
    <wsdl:part name="parameters" element="tns:loginResponse" />
  </wsdl:message>
  <wsdl:message name="update_infoSoapIn">
    <wsdl:part name="parameters" element="tns:update_info" />
  </wsdl:message>
  <wsdl:message name="update_infoSoapOut">
    <wsdl:part name="parameters" element="tns:update_infoResponse" />
  </wsdl:message>
  <wsdl:message name="view_infoSoapIn">
    <wsdl:part name="parameters" element="tns:view_info" />
  </wsdl:message>
  <wsdl:message name="view_infoSoapOut">
    <wsdl:part name="parameters" element="tns:view_infoResponse" />
  </wsdl:message>
  <wsdl:message name="saveReadingSoapIn">
    <wsdl:part name="parameters" element="tns:saveReading" />
  </wsdl:message>
  <wsdl:message name="saveReadingSoapOut">
    <wsdl:part name="parameters" element="tns:saveReadingResponse" />
  </wsdl:message>
  <wsdl:message name="bpReminderSoapIn">
    <wsdl:part name="parameters" element="tns:bpReminder" />
  </wsdl:message>
  <wsdl:message name="bpReminderSoapOut">
    <wsdl:part name="parameters" element="tns:bpReminderResponse" />
  </wsdl:message>
  <wsdl:message name="graphPlottingSoapIn">
    <wsdl:part name="parameters" element="tns:graphPlotting" />
  </wsdl:message>
  <wsdl:message name="graphPlottingSoapOut">
    <wsdl:part name="parameters" element="tns:graphPlottingResponse" />
  </wsdl:message>
  <wsdl:message name="getLatestBPSoapIn">
    <wsdl:part name="parameters" element="tns:getLatestBP" />
  </wsdl:message>
  <wsdl:message name="getLatestBPSoapOut">
    <wsdl:part name="parameters" element="tns:getLatestBPResponse" />
  </wsdl:message>
  <wsdl:message name="getDietPlanSoapIn">
    <wsdl:part name="parameters" element="tns:getDietPlan" />
  </wsdl:message>
  <wsdl:message name="getDietPlanSoapOut">
    <wsdl:part name="parameters" element="tns:getDietPlanResponse" />
  </wsdl:message>
  <wsdl:message name="getGmailSoapIn">
    <wsdl:part name="parameters" element="tns:getGmail" />
  </wsdl:message>
  <wsdl:message name="getGmailSoapOut">
    <wsdl:part name="parameters" element="tns:getGmailResponse" />
  </wsdl:message>
  <wsdl:message name="sendDietPlanSoapIn">
    <wsdl:part name="parameters" element="tns:sendDietPlan" />
  </wsdl:message>
  <wsdl:message name="sendDietPlanSoapOut">
    <wsdl:part name="parameters" element="tns:sendDietPlanResponse" />
  </wsdl:message>
  <wsdl:portType name="WebService1Soap">
    <wsdl:operation name="register">
      <wsdl:input message="tns:registerSoapIn" />
      <wsdl:output message="tns:registerSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="login">
      <wsdl:input message="tns:loginSoapIn" />
      <wsdl:output message="tns:loginSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="update_info">
      <wsdl:input message="tns:update_infoSoapIn" />
      <wsdl:output message="tns:update_infoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="view_info">
      <wsdl:input message="tns:view_infoSoapIn" />
      <wsdl:output message="tns:view_infoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="saveReading">
      <wsdl:input message="tns:saveReadingSoapIn" />
      <wsdl:output message="tns:saveReadingSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="bpReminder">
      <wsdl:input message="tns:bpReminderSoapIn" />
      <wsdl:output message="tns:bpReminderSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="graphPlotting">
      <wsdl:input message="tns:graphPlottingSoapIn" />
      <wsdl:output message="tns:graphPlottingSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getLatestBP">
      <wsdl:input message="tns:getLatestBPSoapIn" />
      <wsdl:output message="tns:getLatestBPSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getDietPlan">
      <wsdl:input message="tns:getDietPlanSoapIn" />
      <wsdl:output message="tns:getDietPlanSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getGmail">
      <wsdl:input message="tns:getGmailSoapIn" />
      <wsdl:output message="tns:getGmailSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="sendDietPlan">
      <wsdl:input message="tns:sendDietPlanSoapIn" />
      <wsdl:output message="tns:sendDietPlanSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebService1Soap" type="tns:WebService1Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="register">
      <soap:operation soapAction="http://tempuri.org/register" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="login">
      <soap:operation soapAction="http://tempuri.org/login" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="update_info">
      <soap:operation soapAction="http://tempuri.org/update_info" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="view_info">
      <soap:operation soapAction="http://tempuri.org/view_info" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="saveReading">
      <soap:operation soapAction="http://tempuri.org/saveReading" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="bpReminder">
      <soap:operation soapAction="http://tempuri.org/bpReminder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="graphPlotting">
      <soap:operation soapAction="http://tempuri.org/graphPlotting" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getLatestBP">
      <soap:operation soapAction="http://tempuri.org/getLatestBP" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getDietPlan">
      <soap:operation soapAction="http://tempuri.org/getDietPlan" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getGmail">
      <soap:operation soapAction="http://tempuri.org/getGmail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="sendDietPlan">
      <soap:operation soapAction="http://tempuri.org/sendDietPlan" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebService1Soap12" type="tns:WebService1Soap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="register">
      <soap12:operation soapAction="http://tempuri.org/register" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="login">
      <soap12:operation soapAction="http://tempuri.org/login" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="update_info">
      <soap12:operation soapAction="http://tempuri.org/update_info" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="view_info">
      <soap12:operation soapAction="http://tempuri.org/view_info" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="saveReading">
      <soap12:operation soapAction="http://tempuri.org/saveReading" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="bpReminder">
      <soap12:operation soapAction="http://tempuri.org/bpReminder" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="graphPlotting">
      <soap12:operation soapAction="http://tempuri.org/graphPlotting" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getLatestBP">
      <soap12:operation soapAction="http://tempuri.org/getLatestBP" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getDietPlan">
      <soap12:operation soapAction="http://tempuri.org/getDietPlan" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getGmail">
      <soap12:operation soapAction="http://tempuri.org/getGmail" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="sendDietPlan">
      <soap12:operation soapAction="http://tempuri.org/sendDietPlan" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebService1">
    <wsdl:port name="WebService1Soap" binding="tns:WebService1Soap">
      <soap:address location="https://localhost:44385/CRUD.asmx" />
    </wsdl:port>
    <wsdl:port name="WebService1Soap12" binding="tns:WebService1Soap12">
      <soap12:address location="https://localhost:44385/CRUD.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>